[user]
	email = {{ .email }}
	name = Max O'Cull
	signingkey = {{ .signingkey }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgSign = true
[http]
	postBuffer = 524288000
[credential]
	helper = store
